body {
  background:none repeat scroll 0 0 #ffffff;
  font-size:12px;
  /*font-family:SourceSansProLight, Verdana, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
} }
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
} h1 {
  font-size:48px;
  font-style: bold;
}
header {
  grid-column: span 3;

  text-align: center;
  font-size: 2em;
  color: white;
  /* background-color: green; */
}
header h1 {
  height: 50px;
  margin-right: 20px;
  color: #111
}
nav {
       background: orange;
}
nav li { 
  display: inline-block;
 }ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    } 
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  background-color: #FFFFFF;
  padding-top: 20px;
  padding-left: 20px;
  
} 
article {
	position:relative;
	width: 280px;
	margin-right: 40px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #ccc;
	background-color: white;
	*display:inline;
    zoom:1;
}
aside {
       background: pink;
} 
footer {
  background: #9B182F;
  grid-column: span 3;
  padding: 30px;
  text-align: left;
  flex-shrink: 0;
  padding-top: 10px;
  padding-bottom: 10px;
} footer p {
  color: white
}img {
  height: 200px;
  width: 100%;
  object-fit: scale-down;
} form {
} input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
} textarea {
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
html,body {
  height: 100%;
}
main {
  flex: 1 0 auto;
  background-color: #FFFFFF;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.readmore{
	background-color: black;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.readmore:hover{
	background-color: #383838;
}
.contact{
  padding-left: 30px;
  display: flex;
}

.contact p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #000000;
}

/* Youtube Reflexive */
.vid-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 35px; height: 0; overflow: hidden;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
